#include <windows.h>
#include "resource.h"


IDD_SETTINGS DIALOG DISCARDABLE 0,0,240,142
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "予備の録画先設定"
FONT 9,"ＭＳ Ｐゴシック"
BEGIN
	DEFPUSHBUTTON "OK",IDOK,132,120,48,14
	PUSHBUTTON "キャンセル",IDCANCEL,184,120,48,14

	GROUPBOX "録画フォルダ",-1,8,8,224,80,BS_GROUPBOX | WS_CLIPSIBLINGS
	RTEXT "デフォルト:",IDC_SETTINGS_DEFAULTFOLDER_LABEL,16,22,44,8
	EDITTEXT IDC_SETTINGS_DEFAULTFOLDER,64,20,144,12,ES_AUTOHSCROLL | ES_READONLY
	RTEXT "予備フォルダ1:",IDC_SETTINGS_FOLDER1_LABEL,16,38,44,8
	EDITTEXT IDC_SETTINGS_FOLDER1,64,36,144,12,ES_AUTOHSCROLL
	PUSHBUTTON "...",IDC_SETTINGS_FOLDER1_BROWSE,212,36,12,12
	RTEXT "予備フォルダ2:",IDC_SETTINGS_FOLDER2_LABEL,16,54,44,8
	EDITTEXT IDC_SETTINGS_FOLDER2,64,52,144,12,ES_AUTOHSCROLL
	PUSHBUTTON "...",IDC_SETTINGS_FOLDER2_BROWSE,212,52,12,12
	RTEXT "予備フォルダ3:",IDC_SETTINGS_FOLDER3_LABEL,16,70,44,8
	EDITTEXT IDC_SETTINGS_FOLDER3,64,68,144,12,ES_AUTOHSCROLL
	PUSHBUTTON "...",IDC_SETTINGS_FOLDER3_BROWSE,212,68,12,12
	LTEXT "空きディスク容量が",-1,8,94,60,8
	EDITTEXT IDC_SETTINGS_LOWSPACE,72,92,32,12,ES_AUTOHSCROLL | ES_NUMBER
	LTEXT "MiB 以下になったら切り替える",-1,108,94,96,8
	LTEXT "(※余裕を持って設定してください)",-1,8,106,104,8
END
