#include "resource.h"
#include <afxres.h>


IDD_SETTINGS DIALOG DISCARDABLE 0,0,116,50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Auto Snap Shot ê›íË"
FONT 9,"ÇlÇr ÇoÉSÉVÉbÉN"
BEGIN
	LTEXT "ä‘äu(&I):",-1,8,10,32,8
	EDITTEXT IDC_SETTINGS_INTERVAL,40,8,32,12,ES_NUMBER | ES_AUTOHSCROLL
	LTEXT "ïb",-1,76,10,8,8
	DEFPUSHBUTTON "OK",IDOK,8,28,48,14
	PUSHBUTTON "ÉLÉÉÉìÉZÉã",IDCANCEL,60,28,48,14
END
